<h3>Application#Index</h3>
<div class="container">
  <div class="content">
    <% @contents.each do |content| %>
    <div class="card" style="width: 48rem;">
      <img src="https://techcrunch.com/wp-content/uploads/2020/09/1600733344-echodotkidsedition-1.jpg?w=1390&crop=1" class="card-img-top" alt="...">
        <div class="card-body">
          <div>
            <%= content.title %>
          </div>
          <div>
            <%= content.description %>
          </div>
        </div>
      <p class="card-text">
      <%= content.content %>
    </div>
    <% end %>

  </div>

  <!-- Green arrow & like button -->
  <div class="arrow">
    <%= link_to 'Next', contents_path(@contents),  class: "btn btn-primary"%>
  </div>

  <!-- Go to customize content -->
  <div class="customize">
    <a href="/search">Go to customize content</a>
  </div>
</div>

