<div class="container">


  <p>Content here</p>
  <%= render "/contents/video" %>

  <!-- code green arrow -->
  <%= link_to 'Next', contents_path(@randomcontent),  class: "btn btn-primary"%>


</div>
 




