<div class="container">
  <div class="time">
    <h1>How much time do you have today?</h1>


  </div>

  <div class="format">
    <h1>What type of content  do you want?</h1>
    <a href="" class="btn btn-primary">Articles</a>
    <a href="" class="btn btn-primary">Videos</a>
    <a href="" class="btn btn-primary">Podcasts</a>
  </div>

  <div class="topic">
    <h1>What topic</h1>

  </div>


</div>
