<div class="button-format">
  <button class="button">See all</button>
  <button class="button">Articles</button>
  <button class="button">Videos</button>
  <button class="button">Podcasts</button>
</div>
 <div class="results">

 </div>
