
.container {
    display: flex;
    justify-content: center;
}


.home-container {
    display: flex;
    justify-content: center;
    // width: 414px;
    height: 720px;
    background-color: #65C6C4;
}

.form-check {
    top: 100px;
    background-color: #65C6C4;

}

.my_class {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 70px;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    font-family: Inter;
    color: #4F4F4F;
}

.format {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.article, .video, .podcast {
    width: 150px;
    height: 30px;
    background: #E2F9F8;
    border-radius: 20px;
    padding-left: 30px;
}


.time{
    display: flex;
    justify-content: center;
}

.format {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #4F4F4F;

}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  grid-row-gap: 20px;
}

.submit_button {
    display: flex;
    justify-content: center;
}

.submit_tag {
    background-color: #34699A;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
}

.content_tag {
    background-color: white;
    color: #4F4F4F;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-left: 2px solid #767676;
    border-top: 2px solid #767676;
    border-right: 2px solid #202020;
    border-bottom: 2px solid #202020;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    font-family: Inter;
    color: #4F4F4F;

}

.advanced_search {
    width: 414px;
}
