.home-container {
    display: flex;
    justify-content: center;
    // width: 414px;
    height: 736px;
    background-color: #65C6C4;
}

.form-check {
    margin-top: 50px;
    background-color: #65C6C4;
}


.search-form-check {
    margin-top: 50px;
    background-color: #408AB4;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 50px;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:  white;
}

.timesearch {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: white;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    font-family: "Inter", sans-serif;
    justify-content: center;
    color: white;
}

.format {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.search-format {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.checkbox-container {
    display: inline-block;
}

input[type="checkbox"] {

    position: absolute;
    opacity: 0;
    & + label {
        display: block;
        padding: .4em .8em;
        line-height: 1;
        color: #4F4F4F;
        font-family: Inter;
        background-color: #E2F9F8;
        width: 150px;
        height: 30px;
        background: #E2F9F8;
        border-radius: 20px;
        text-align: center;
    }
    &:checked + label {
        background-color: #34699A;
        color:  white;
        &:hover, &:focus, &:active { background-color: #34699A; }
    }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 20px;
}

.submit_button {
    display: flex;
    justify-content: center;
}

.submit_tag {
    background-color: #34699A;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
    border: none;
    font-family: Inter;
}

.search-submit_tag {
    background-color: #65C6C4;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
    border: none;
    font-family: Inter;
}

.content_tag {
    background-color: white;
    color: #4F4F4F;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}


.head-container {
    display: flex;
    justify-content: center;
}

.advanced-container {
    background-color: #E2F9F8;
    display: flex;
    justify-content: center;
    width: 414px;
    height: 736px;
    margin-bottom: 30px;
}

.advanced-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.card {
    width: 360px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: -40px;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.11));
    //margin: 0px 16px;
}

.title-container {
    display: flex;
    gap: 0px 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.video-title-container {
    display: flex;
    flex-direction: column;
    gap: 0px 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.image_card {
  width: 71px;
  height: 72px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4F4F4F;
}

.line {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #65C6C4;
  width: 160px;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.author {
  color: #4F4F4F;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.duration {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #333333;
}

.text {
    display: flex;
    flex-direction: column;
}

.vector_btn {
   display: flex;
   justify-content: flex-end;
   padding-right:10px;
   width: 14px;
   height: 14px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.description-top {
    display: flex;
    justify-content: space-between;
}

.video_btn, .audio_btn, .article_btn {
  width: 20px;
  height: 28px;
}

.video-btn {
    display: flex;
    justify-content: center;
}

.custom-select {
    border-radius: 10px;
    color: #4F4F4F;
    font-family: Inter;
}

.container {
  background-color: #408AB4;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  height: 736px;
}


.article, .video, .podcast {
    text-align: center;
}


.head-container {
    display: flex;
    justify-content: center;

}

.welcome-container {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 414px;
    height: 736px;
    margin-bottom: 30px;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    position: relative ;
    left: 10px;
    color: white;
  }

  .welcome-top {
      display: flex;
      justify-content: space-between;
      margin-top: -150px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .quote {
    color: #4F4F4F;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    position: absolute;               /* 2 */
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 260px;
  }

  .go {
      background-color: #408ab4;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: none;
      position: absolute;               /* 2 */
      top: 80%;
      left: 60%;
      color: white;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
  }

  .advanced-button {
    transition-duration: 0.4s;
    background-color: #65C6C4;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px 12px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    cursor: pointer;
    width: 40%;
    font-family: "Inter", sans-serif;
  }

  .head-container {
    height: 740px;
  }

  .read-btn {
      background-color: #408ab4;
      border-radius: 10px;
      height: 30px;
      padding-bottom: 10px;
      border: none;
      margin-top: -5px;
      font-family: "Inter", sans-serif;
  }

  .elipses {
      width: 100%;
  }

  .author {
      margin-top: 30px;
      color: #4F4F4F;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      text-align: end;
  }

  .modal-header {
      position: sticky;

  }

  .modal-dialog {
    width: 400px;
  }
