#search {
    display: flex;
    justify-content: center;
}

.search-container {
    background-color: #408AB4;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    height: 100vh;
    width: 100%;
  }

.search-form-check {
    top: 100px;
}

.search_my_class {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 70px;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    color: #4F4F4F;  
}

.submit_tag {
    background-color: #34699A;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
    border: none;
}

.search-submit_tag {
    background-color: #65C6C4;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
    border: none;
}

.search-format {
    font-style: normal;
    font-weight: 500;
}

.search-article, .search-video, .search-podcast {
    width: 150px;
    height: 30px;
    background: #E2F9F8;
    border-radius: 20px;
    padding-left: 30px;
}

.search-time {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #4F4F4F;
}

.search-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  grid-row-gap: 20px;
}

.search_submit_tag {
    background-color: #34699A;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
}

.search_content_tag {
    background-color: white;
    color: #4F4F4F;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-left: 2px solid #767676;
    border-top: 2px solid #767676;
    border-right: 2px solid #202020;
    border-bottom: 2px solid #202020;
}
 
.search-topic {
    display: flex;
    width: 414px;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    color: #4F4F4F;  
}

.topic {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
}

.health, .politics, .movies, .humor, .tech_news, .entertainment, .sport, .business, .books {
    height: 30px;
    background: #E2F9F8;
    border-radius: 20px;
    padding-left: 10px;
    padding-left: 10px;
}

.box-topic {
    display: flex;
    width: 414px;
    flex-wrap: wrap;
}



@media (max-width: 2500px) {
    .search-format, .timesearch,  .topic  {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: -20px;
    }

    .article, .video, .podcast  {
        height: 50px;
    }
}
  
  @media (max-width: 1000px) {
    .search-format, .timesearch, .topic  {
        font-size: 37px;
        margin-bottom: 15px;
        margin-top: -30px;
    }

    .article, .video, .podcast  {
        height: 75px;
    }
  } 
  
  @media (max-width: 750px) {
    .search-format, .timesearch,  .topic  {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: -20px;
    }

    .article, .video, .podcast  {
        height: 50px;
    }
  }
