#search {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 414px;
    height: 1000px;
    background-color: #65C6C4;
}

.search-form-check {
    top: 100px;
}

.search_my_class {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 70px;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    color: #4F4F4F;  
}

.search-format {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
}

.search-article, .search-video, .search-podcast {
    width: 150px;
    height: 30px;
    background: #E2F9F8;
    border-radius: 20px;
    padding-left: 30px;
}

.search-time{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #4F4F4F;
}

.search-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  grid-row-gap: 20px;
}

.search_submit_tag {
    background-color: #34699A;
    color: white;
    border-radius: 20px;
    width: 232px;
    height: 40px;
    font-size: 20px;
}

.search_content_tag {
    background-color: white;
    color: #4F4F4F;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-left: 2px solid #767676;
    border-top: 2px solid #767676;
    border-right: 2px solid #202020;
    border-bottom: 2px solid #202020;
}
 
.search-topic {
    display: flex;
    width: 414px;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 20px;
    font-style: normal;
    color: #4F4F4F;  
}

.topic {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
}

.health, .politics, .movies, .humor, .tech_news, .entertainment, .sport, .business, .books {
    height: 30px;
    background: #E2F9F8;
    border-radius: 20px;
    padding-left: 10px;
    padding-left: 10px;
}

.box-topic {
    display: flex;
    width: 414px;
    flex-wrap: wrap;
}