.card-all-content{
  overflow: scroll;
  font-family: Inter;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4F4F4F;
  }
}

.card-video {
  padding-top: 12px;
  font-size: 20px;
}

.card-video description {
  padding-top: 12px;
  padding-left: 10px;
  font-style: normal;
  font-size: 14px;
}

.blue-line {
  position: static;
  width: 165px;
  height: 0px;
  left: 16px;
  top: 208px;
  flex: none;
  border: 1px solid #65C6C4;
  order: 2;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 16px;
}

.category{
  padding-top:10px;
}

.button {
  transition-duration: 0.4s;
  background-color: #65C6C4;
  border-radius: 8px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px 12px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: white;
}

.card-text-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 10px;

}

.card-body-article{
  padding-top: 12px;
  height: 600px;
}

.card-text-description {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 10px;
}

.customize {
  padding-top: 20px;
  text-align: center;
}

.card-text-content {
  font-size: 12px;
}

.arrow-icon{
    color: #65C6C4;
    position: fixed;
    bottom: 60px;
    top: unset;

}

.iframe-video{
  width: 100%;
}

.card-podcast-content {
  width: 100%;
}
