.card-all-content{
  overflow: scroll;
  font-family: "Inter", sans-serif;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4F4F4F;
    padding-left: 5px;
    padding-top: 10px;
  }
}

.card-video {
  padding-top: 12px;
  font-size: 20px;
}

.card-video description {
  padding-top: 12px;
  padding-left: 10px;
  font-style: normal;
  font-size: 14px;
}

.blue-line {
  position: static;
  width: 165px;
  height: 0px;
  left: 16px;
  top: 208px;
  flex: none;
  border: 1px solid #65C6C4;
  // order: 2;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 16px;
}

.category {
  padding-top:10px;
}

.category p {
  padding-left: 5px;
}

.button {
  transition-duration: 0.4s;
  background-color: #65C6C4;
  border-radius: 8px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px 12px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #65C6C4;
}

.button-non-blue{
  background-color: white;
  color: #65C6C4;
  border-radius: 8px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px 8px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
}

.button-format {
  padding-top: 20px;
}

.card-text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 10px;

}

.card-body-article{
  padding-top: 12px;
  height: 600px;
}

.card-text-description {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 2px;
}

.customize {
  padding-top: 20px;
  text-align: center;
}

.card-text-content {
  font-size: 12px;
}

.arrow-icon{
    color: #65C6C4;
    position: fixed;
    bottom: 60px;
    top: unset;
}

.iframe-video{
  width: 100%;
  padding-top: 20px;
}

.card-podcast-content {
  width: 100%;
}

.card-podcast-content {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 400px;
}

.card {
    width: 360px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: -40px;
    padding: 10px;
    padding-top: 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.11));
    //margin: 0px 16px;
}


.author-card {
    margin-top: 12px;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    // text-align: end;
  }

.card-bottom {
    display: flex;
    justify-content: space-between;
    a {
      color: #65C6C4;
    }
}

.library-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 360px;
    padding-left: 50px;
}

.blockquote {
    position: relative;
    clear: both;
    text-align: center;
    border: 0;
    padding: 35px 25px;
    margin: 25px 0;
    font-style: italic;
    color: #F2994A;
}

.card-bottom-library {
    display: flex;
    // justify-content: space-between;
    .button {
    transition-duration: 0.4s;
    background-color: #65C6C4;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px 12px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    cursor: pointer;
  }

  .duration {
    padding-top: 4px;

  }

  a {
    color: #65C6C4;
    font-size: 14px;
  }
}

.library-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 10px;

}

.library-video-title-container {
    display: flex;
    flex-direction: column;
    gap: 0px 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    video {
      padding-top: 5px;
    }
}
