
.card-body {

}

.card-text-title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.card-text-description {
  font-size: 12px;
  font-style: italic;
  overflow: scroll;
}

.card-text-content {
  height: 200px;
  font-size: 12px;
  font-weight: normal;
  overflow: scroll;
}
