.footer {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(#A8CDE9, #408AB4);
  width: 414px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}