.navbar-lewagon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 65C6C4 1px;
}



.navbar-lewagon .nav-brand img {
  width: 40px;
}

#unlearning {
font-family: Snell Roundhand, cursive;
font-style: normal;
font-weight: normal;
font-size: 24px;
}

.home {
  display: flex;
  flex-direction: row;
}