.navbar-lewagon {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid #65C6C4 1px;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.unlearning {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  position: absolute;
  left: 10px;
  top: 30px;
  color: solid black;
}

.home {
  display: flex;
  flex-direction: row;
}

.logo {
  position: absolute;
  left: 0px;
  top: 0px
}

.circles {
  width: 80px;
  height: 30px;
}


@media (max-width: 2500px) {
  //large
  .navbar-lewagon {
    height: 60px;
  }

  .unlearning {
    font-size: 24px;
    left: 10px;
    top: 30px

	}
	
	.logo-circles {
		width: 450px;
		height: 180px;
		}

  .circles {
    width: 80px;
    height: 30px;
  }
}

@media (max-width: 1000px) {
  //medium
  .navbar-lewagon {
    height: 60px;
  }
  
  .unlearning {
    font-size: 27px;
    left: 12px;
    top: 25px;
  }

  .circles {
    width: 80px;
    height: 33px;
    margin-top: -10px;
  }
} 

@media (max-width: 750px) {
  //small
  .navbar-lewagon {
    height: 50px;
    
  }
  
  .unlearning {
    font-size: 18px;
    left: 8px;
    top: 22px;


  }

  .circles {
    width: 60px;
    height: 22px;

  }
}